h1{
  margin: 0 auto;
  font-size: 75px;
  margin: 2%;
  padding-bottom: 20px;
}

body {
  background-color: #ccccff;
  text-align: center;
}

div {
  text-align: center;
  display: inline-block;
}
.wins {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  user-select: none;
  width: 150px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
  height: 615px;
  width: 675px;
}
.square {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 96px;
  height: 75px;
  line-height: 75px;
  user-select: none;
  width: 75px;
}
.square:hover {
  background-color: gray;
  cursor: pointer;
}
.white {
  background-color: white;
}
.black {
  background-color: black;
}
#table {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
#x_wins {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  user-select: none;
  width: 150px;
  background-color: white;
}
#o_wins {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  user-select: none;
  width: 150px;
  background-color: white;
}
#reset-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}
#reset-button:hover {
  background-color: lightgray;
  color: black;
  cursor: pointer;
}
#table2 {
  margin-left: auto;
  margin-right: auto;
}
#switch {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  user-select: none;
  width: 300px;
  background-color: white;
}
#switch:hover {
  background-color: lightgray;
  cursor: pointer;
}
