h1{
  margin: 0 auto;
  font-size: 75px;
  margin: 2%;
  padding-bottom: 20px;
  font-family: "Lucida Console", Monaco, monospace;
}

body {
  background-color: #ccccff;
  text-align: center;
}

.wrap {
  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}

.connect-wrap {
  flex-wrap: wrap;
  height: 600px;
  width: 700px;
  padding-left: 27.7%;
  padding-top: 3%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.75);
  display: inline-block;
  user-select: none;
  margin: 3px;
  background: url(images/wood.jfif);
}

.circle:hover {
  background-color: white;
}
